.navbar {
    background: linear-gradient(to right, #000000, #b10c2d);
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    height: 10vh;
}

.navbar>.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jumbotron a.btn {
    font-size: 3vh;
}

.jumbotron {
    background-image: url("../images/salle-cinema.jpeg");
    background-position: center;
    font-family: 'Bangers', cursive;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}

.jumbotron h1 {
    font-size: 12vh;
}

.jumbotron .font-italic {
    font-size: 5vh;
}

#film-content {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: black;
    flex-wrap: wrap;
}

#film-content .card {
    min-width: 10vw;
    max-width: 12vw;
    height: auto;
    margin: 3vw;
    border: 2px solid grey;
    background-color: black;
}

.card img {
    display: block;
    min-width: 100%;
    height: 60%;
}

#film-content .card .card-body {
    min-height: 12vw;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
}

#film-content .card .card-body:hover {
    min-height: 12vw;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #8d0a24;
}

#film-content .card .card-title {
    font-size: 1vw;
}

#film-content .card .card-title h5 {
    font-family: 'Bangers', cursive;
    font-size: 1.6vw;
}

.card .btn {
    width: 5vw;
    font-size: 0.6vw;
    margin-top: 1vw;
    position: absolute;
    bottom: 1vw;
    right: 25%;
}

#film-content>div:nth-child(n)>div>h5 {
    font-size: 0.8rem;
}

#film-content>div:nth-child(n)>div>p {
    font-size: 1.3vw;
    font-family: 'Bangers', cursive;
}

.footer-content {
    background: linear-gradient(to right, #000000, #ff093a);
    font-family: 'Bangers', cursive;
    color: white;
    text-align: center;
    padding-top: 3vh;
}

footer h4 {
    font-size: 3vw;
    margin-top: 7%;
}

footer img {
    width: 9%;
}

footer a {
    font-size: 1.4vw;
}

.footer-content .rights {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}

@media (min-width:100px) and (max-width: 990px) {
    .navbar {
        background: linear-gradient(to right, #000000, #b10c2d);
        font-family: 'Bangers', cursive;
        font-size: 4vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar>.container-fluid {
        display: flex;
        margin-top: -15px;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar-link {
        position: absolute;
        left: 10%;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        font-size: 4vw;
    }
    ul li:nth-child(1) {
        margin-right: 1vh;
    }
    .jumbotron h1 {
        font-size: 10vw;
    }
    .jumbotron .font-italic {
        font-size: 5vw;
    }
    .jumbotron a.btn {
        font-size: 3.2vw;
    }
    .jumbotron .font-italic {
        font-size: 3.5vw;
    }
    #film-content .card {
        min-width: 32vw;
        max-width: 20vw;
        height: auto;
        margin: 3vw;
        border: 2px solid grey;
        background-color: black;
    }
    .card .btn {
        width: 20vw;
        max-height: 6vw;
        font-size: 1.2vw;
        position: absolute;
        bottom: 3vw;
        right: 20%;
    }
    #film-content .card .card-body {
        color: white;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        align-items: center;
        margin-bottom: 2vw;
    }
    .link {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #film-content .card .card-title {
        font-size: 3vw;
    }
    #film-content .card .card-title h5 {
        font-family: 'Bangers', cursive;
        font-size: 4vw;
    }
    #film-content>div:nth-child(n)>div>p {
        font-size: 2.5vw;
        font-family: 'Bangers', cursive;
    }
}